.data-picker {
  background-color: rgba($color: $color-primary-orange-dark, $alpha: 0.1);
  color: $color-black;
  border: none;
  font-size: 3rem;
  width: inherit;
  cursor: pointer;
  transition: all 0.4s;
  outline: none;

  &:hover {
    transform: scale(1.05);
  }
}
